/* You can add custom styles here. */

//@import "plugins/numbered";
@import "defaults";

.book-search {
  input {
    background-color: var(--gray-100);
    border: 1px solid var(--gray-300);
  }
}

.markdown {
  > h2 {
    font-weight: 700;
  }

  pre {
    border: 1px solid var(--gray-300);
  }

  code {
    background-color: var(--gray-100);
    border: 1px solid var(--gray-300);
    border-radius: 5px;
    padding: 0.25rem;
    font-weight: 700;
  }

  .book-post-content {
    h2 {
      margin-top: 2.5rem;
    }
    h3 {
      font-size: $font-size-l;
    }
  }

  blockquote {
    background-color: var(--color-blockquote);
    font-family: monospace;
    font-size: 0.9rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    border-inline-start: .25rem solid var(--gray-500);
  }

  .book-post-content {
    //border-top: 1px solid var(--gray-300);
    //margin-top: 1rem;

    img {
      border: 1px solid var(--gray-300);
      border-radius: 5px;
      margin-top: 1.5rem;
    }
  }
}
