/* You can add custom styles here. */

//@import "plugins/numbered";
@import "defaults";

nav {
  li {
    a.active {
      text-decoration: underline;
    }
  }
}

.book-toc {
  .book-toc-content {
    padding-left: .7rem;
    nav {
      border-left: 1px solid var(--gray-300);
      padding-left: .7rem;

      li {
        font-size: .8rem;
      }
    }
  }
}

mjx-container {
  overflow-x: auto;
  overflow-y: visible;

  mjx-math {
    font-size: 1.25rem;
  }
}

h1.book-brand {
  margin-bottom: 0.5rem;

  img {
    width: 30px;
    height: auto;
  }
}

.info-section {
  a:hover {
    opacity: .5;
  }
}

.share-buttons {
  opacity: .8;
  scale: .8;
  transform-origin: 0 50%;
  -webkit-transform-origin: 0 50%;
  filter: grayscale(40%);
  margin-top: 3rem;
}

.intro {
  margin-top: .5rem;
  font-size: 1rem;
  font-style: italic;
  font-family: serif;
}

.book-search {
  input {
    background-color: var(--gray-100);
    border: 1px solid var(--gray-300);
  }
}

main.container {
  max-width: 85rem;
}

.book-page {
  article {
    margin-bottom: 1.5rem;
  }
}

.markdown {
  > h2, h1 {
    font-size: 1.75rem;
    font-weight: 700;

    @media screen and (max-width: $mobile-breakpoint) {
        font-size: 1.5rem;
    }
  }

  p, ul, ol {
    margin-bottom: 1.75rem;
    font-size: 1.05rem;
  }

  em {
    border-bottom: 2px dashed var(--color-link);
  }

  pre {
    margin: 0;
    border: 1px solid var(--gray-300);
  }

  .book-post-content {
    h2 {
      margin-top: 3rem;
      font-weight: 500;
      border-bottom: 1px solid var(--gray-300);
      padding-bottom: 0.5rem;
    }

    h3 {
      font-weight: 700;
      font-size: $font-size-l;
    }
  }

  blockquote {
    background-color: var(--color-blockquote);
    font-family: monospace;
    font-size: 0.9rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    border-inline-start: .25rem solid var(--gray-500);
  }

  .book-post-content {
    img {
      border: 1px solid var(--gray-300);
      border-radius: 5px;
      margin-top: 1.5rem;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: auto;
      max-height: 400px;
    }
  }
}
