/* You can add custom styles here. */

//@import "plugins/numbered";
@import "defaults";


.markdown {
  > h2 {
    font-weight: 700;
  }

  .book-post-content {
    border-top: 1px solid var(--gray-200);
    margin-top: 1rem;

    img {
      border: 1px solid var(--gray-200);
      border-radius: 5px;
    }
  }
}
